// Define variables for your color scheme

// For example:
$red: #C14953;
$blue: #3C7A89;
$yellow: #DBC2CF;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$purple-gray: #2D3047;
$purple-yellow: #FFFD82;
$purple-red: #C14953;
